* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-area {
    display: flex;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.input-area button {
    padding: 12px 20px;
    border: none;
    background: #4f46e5;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.input-area button:hover {
    background: #4338ca;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fafb;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.task.completed span {
    text-decoration: line-through;
    color: #999;
}

.delete-btn {
    border: none;
    background: #ef4444;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #dc2626;
}

input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
}

@media (max-width: 500px) {
    .input-area {
        flex-direction: column;
    }

    .input-area button {
        width: 100%;
    }
}
